body {
  background-color: #f8f9fa;
  text-align: center;
  font-family: 'Alatsi', sans-serif;
  margin-bottom: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.sidebar {
  height: 100vh;
  overflow: auto;
  position: fixed;
  padding: 2rem 5% 2rem 5%;
  text-align: center;
  background-color: #004a7c;
  color: #f8f9fa;
  margin: auto;
}

/* Intro Section */
.name {
  font-weight: 500;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.profile-pic {
  border-radius: 100%;
  display: inline-block;
  width: 200px;
  border: 3px solid #f8f9fa;
}

.statement {
  font-size: 0.85rem;
  color: #c6e0e3;
  padding: 3rem 15%;
  margin-bottom: 0;
}

.school-link {
  font-weight: bold;
  color: #f8f9fa;
}

.school-link:hover {
  text-decoration: none;
  color: #e8e9ea;
}

.resume {
  color: #004a7c;
  font-weight: bold;
}

.resume:hover {
  color: #004a7c;
}

.icons {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.icon-link {
  margin: 0 8px;
  color: #f8f9fa;
}

.icon-link:hover {
  color: #e8e9ea;
}

/* Projects Section */
.projects-div {
  padding: 4% 15%;
}

.projects-title {
  text-align: left;
  color: #004a7c;
  font-size: 3rem;
  padding: 0 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project {
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: left;
}

.project-name {
  color: #444444;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.project-type {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #666666;
}

.project-detail {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 1.6rem;
  font-size: 1rem;
  color: #777777;
}

.detail-item:before {
  content: '\2022'' ';
  font-size: 1.35rem;
  color: #555555;
}

.project-skills {
  font-size: .8rem;
  margin-bottom: 1.5rem;
  color: #f8f9fa;
}

.skill {
  background-color: #004a7c;
  padding: 2%;
}

.project-link {
  color: #444444;
  margin-right: 1.25rem;
}

.project-link:hover {
  color: #777777;
}

@media screen and (max-width: 992px) {
  .sidebar {
    position: static;
    height: auto;
  }
  .name {
    font-size: 4rem;
  }

  .statement {
    font-size: 1rem;
  }
}