
body {
  background-color: #e8f1f5;
  text-align: center;
}

/* Title Section */
#title {
  background-color: #004a7c;
  color: #e8f1f5;
}

.intro {
  padding: 5%;
  padding-bottom: 2%;
  text-align: center;
}
.intro img {
  border-radius: 100%;
  border: 3px solid #e8f1f5;
}
.intro h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.intro p {
  font-size: 1rem;
  color: #c6e0e3;
  padding: 3rem 15%;
}
.school-link {
  font-weight: bold;
  color: #e8f1f5;
}
.school-link:hover {
  text-decoration: none;
  color: #dee2e7;
}
.icos {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.ico-link {
  margin: 0 8px;
  color: #e8f1f5;
}

.ico-link:hover {
  color: #dee2e7;
}


/* Projects Section */

.projects-div {
  padding: 4% 15%;
}

.projects-div h1 {
  color: #004a7c;
  font-size: 3.5rem;
  padding: 0 0;
  margin-bottom: 6%;
}

@media screen and (max-width: 992px) {
  .projects-div h1 {
    text-align: left;
  }
}

.project {
  margin-top: 4%;
  margin-bottom: 4%;
  text-align: left;
}

.project h2 {
  color: #444444;
  margin-bottom: 6%;
}

.project ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 0.9rem;
  color: #888888;
}

.project li:before {
  content:'\2022' ' ';
  font-size: 1.25rem;
  color: #666666;
}

.project a {
  color: #444444;
}

.project h3 {
  font-size: 1.25rem;
  color: #666666;
}

.project h4 {
  font-size: .8rem;
  margin-bottom: 4%;
  color: #e8f1f5;
}

.project a:hover {
  color: #777777;
}

.skill {
  background-color: #004a7c;
  padding: 2%;
}