:root {
    --default-text-color-main: #d2d2d2;
    --default-text-color-secondary: #aaa;

    --background-color: #15161b;
    --link-color-hover: #126fd3;

    --container-background-color: #191a1f;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
}

#intro {
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-info {
    max-width: 800px;
    margin: 0 auto;
}

.name {
    color: var(--default-text-color-main);
    margin-top: 0;
    margin-bottom: 2rem;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 2.25rem;
    font-weight: 600;
}

.bio {
    color: var(--default-text-color-main);
    font-weight: 400;
}

.links {
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    padding-bottom: 0.1rem;
    transition: box-shadow 80ms cubic-bezier(0.01, 0.88, 0.93, 0.07) 0s;
}

.link:hover {
    box-shadow: 0 3px 0 var(--link-color-hover);
    text-decoration: none;
    color: #eee;
}

.link-highlight {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    padding-bottom: 0.1rem;
    box-shadow: 0 3px 0 var(--link-color-hover);
}

.links .link {
    margin: 0.5rem;
}

.link-icon {
    text-decoration: none;
    color: var(--default-text-color-main);
    margin: 1rem;
}

.link-icon:hover {
    text-decoration: none;
    cursor: pointer;
    color: #eee;
    transition: 0.2s;
}
