:root {
    --default-text-color-main: #fff;
    --default-text-color-secondary: #126fd3;

    --header-footer-background-color: #126fd3;
    --link-color-hover: #fff;

    --container-background-color: #fff;
    --search-border: 1px solid #eee;
    --search-text-color: #555;

    --card-background-color: #fff;
    --card-image-brightness: brightness(100%);
    --project-skill-background-color: #126fd3;
    --project-skill-selected-background-color: #fff;
    --project-skill-selected-color: #ff738f;
    --project-skill-selected-box-shadow: #fe859488 0px 1px 4px;
    --project-skill-border: solid 1px;
    --project-link-icon-color: #555;

    --marker-color: #666;

    --text-title-color: #555;
    --text-subtitle-color: #666;
    --text-description-color: #888;

    --keyword-match-color: #ff738f;

    --experience-list-highlight-color: #126fd3;

    --organization-icon-filter: brightness(35%);
    --organization-unselected-color: #999;
}

[data-theme='dark'] {
    --default-text-color-main: #d2d2d2;
    --default-text-color-secondary: #aaa;

    --header-footer-background-color: #15161b;
    --link-color-hover: #126fd3;

    --container-background-color: #191a1f;
    --search-border: solid 1px #15161b;
    --search-text-color: #d2d2d2;

    --card-background-color: #212227;
    --card-image-brightness: brightness(75%);
    --project-skill-background-color: #126fd3;
    --project-skill-selected-background-color: #ff5b8d;
    --project-skill-selected-color: #fff;
    --project-skill-border: none;
    --project-skill-selected-box-shadow: none;
    --project-link-icon-color: #999;

    --marker-color: #126fd3;

    --text-title-color: #aaa;
    --text-subtitle-color: #777;
    --text-description-color: #999;

    --keyword-match-color: #ff5b8d;

    --experience-list-highlight-color: #126fd3;

    --organization-icon-filter: brightness(100%);
    --organization-unselected-color: #333;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
}

/* Intro Section */

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 18px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 3px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: var(--project-skill-background-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(27px);
}

.slider.round,
.slider:before {
    border-radius: 40px;
}

#theme-setting {
    position: absolute;
    top: 25px;
    right: 25px;
}

#theme-icon {
    position: absolute;
    font-size: 1rem;
    right: 57px;
    top: 1px;
}

#intro {
    background-color: var(--header-footer-background-color);
    padding-top: 125px;
    padding-bottom: 85px;
}

#intro-info {
    max-width: 800px;
    margin: 0 auto;
}

.head-shot {
    border-radius: 100%;
    margin-bottom: 2rem;
    width: 175px;
    border: 3px solid #fff;
}

.name {
    color: var(--default-text-color-main);
    margin-top: 0;
    margin-bottom: 2rem;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 2.25rem;
    font-weight: 600;
}

.bio {
    color: var(--default-text-color-main);
    font-weight: 400;
}

.links {
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
    padding-bottom: 0.1rem;
    transition: box-shadow 80ms cubic-bezier(0.01, 0.88, 0.93, 0.07) 0s;
}

.link:hover {
    box-shadow: 0 3px 0 var(--link-color-hover);
    text-decoration: none;
    color: #eee;
}

.links .link {
    margin: 0.5rem;
}

.link-icon {
    text-decoration: none;
    color: var(--default-text-color-main);
    margin: 1rem;
}

.link-icon:hover {
    text-decoration: none;
    cursor: pointer;
    color: #eee;
    transition: 0.2s;
}

/* Experience Section */
.panel {
    max-width: 800px;
    margin: 0 auto;
}

#experience-positions {
    text-align: left;
}

#experience-organization-filter {
    overflow-x: auto;
    color: var(--text-title-color);
    display: flex;
    margin-bottom: 30px;
}

#experience-organization-filter .experience-item:first-child {
    margin-left: auto;
}

#experience-organization-filter .experience-item:last-child {
    margin-right: auto;
}

.experience-position-description li::marker {
    font-size: 1.25rem;
    color: var(--marker-color);
}

.experience-position-title {
    color: var(--text-title-color);
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
}

.experience-position-duration {
    color: var(--text-subtitle-color);
    font-size: 1rem;
    font-weight: 500;
}

.experience-position-description {
    color: var(--text-description-color);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
}

.experience-position-description li {
    margin-bottom: 0.5rem;
}

.experience-item {
    cursor: pointer;
    display: flex;
    border-bottom: solid 3px var(--organization-unselected-color);
    text-align: left;
    padding: 1rem;
}

.organization-image-icon {
    filter: var(--organization-icon-filter);
    max-width: 2rem;
    max-height: 2rem;
    object-fit: contain;
}

.organization-name {
    padding: 0 1rem;
    max-height: 2rem;
    align-self: center;
}

.experience-item.selected {
    border-bottom: solid 3px var(--experience-list-highlight-color);
}

/* Projects Section */

#search {
    width: 90%;
    padding: 10px;
    border: var(--search-border);
    margin: 0 auto;
    margin-bottom: 80px;
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.search-icon {
    flex-grow: 1;
    color: #555;
    font-size: 1.25rem;
    padding: 10px;
    margin: 0 10px;
}

.search-skills {
    flex-grow: 3;
    width: 80%;
    border: 0;
    outline: none;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--search-text-color);
    background-color: #0000;
}

*::placeholder {
    font-weight: 400;
    font-size: 1.2rem;
    color: #888;
}

.card {
    border: none;
    background-color: var(--card-background-color);
}

.card-img-top {
    filter: var(--card-image-brightness);
}

.section-container-title {
    text-align: center;
    color: var(--default-text-color-secondary);
    font-weight: 600;
    font-size: 1.85rem;
    padding: 60px 0;
}

section {
    background-color: var(--container-background-color);
}

.section-container {
    padding-bottom: 63px;
    margin: auto auto;
    max-width: 1400px;
    padding-left: 60px;
    padding-right: 60px;
}

.project {
    max-width: 350px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 60px;
}

.project-name {
    color: var(--text-title-color);
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
}

.project-type {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-subtitle-color);
}

.project-detail {
    margin: 16px auto;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--text-description-color);
}

.project-skills {
    margin-bottom: 12px;
}

.skill {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 8px;
    margin-right: 4px;
    font-weight: 600;
    padding: 2px 8px;
    border: var(--project-skill-border);
}

.skill-normal {
    color: var(--default-text-color-main);
    background-color: var(--project-skill-background-color);
}

.skill-selected {
    text-decoration: wavy;
    color: var(--project-skill-selected-color);
    box-shadow: var(--project-skill-selected-box-shadow);
    background-color: var(--project-skill-selected-background-color);
}

.keyword-match {
    color: var(--keyword-match-color);
}

.project-links {
    margin-bottom: 12px;
}

.project-link-icon {
    text-decoration: none;
    color: var(--project-link-icon-color);
    font-size: 10px;
    margin: auto 8px;
}

.project-link-icon:hover {
    text-decoration: none;
    color: #666666;
    margin: auto 8px;
    transition: 0.2s;
}

/* Footer */

#footer {
    background-color: var(--header-footer-background-color);
}

.footer-text {
    font-size: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    color: var(--default-text-color-main);
}
